*{ 
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; 
}

/* body {
  height: 100%;
} */
.header {
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  width: 100%;
  /* height: 50px; */
  position: fixed;
  z-index: 10;
}
.section {
  padding-top: 50px;
  /* border: solid 2px green; */
  width: 100%;
  min-height: 100vh;
}
.footer {
  /* border: solid 2px green; */
  width: 100%;
  background-color: #495057;
}

@media only screen and (min-width: 1200px) {
  .header {
    /* height: 60px; */
  }
  .section {
    padding-top: 60px;
  }
}