* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

/* body {
  height: 100%;
} */
.header {
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* height: 50px; */
  position: fixed;
  z-index: 10;
}
.section {
  padding-top: 50px;
  /* border: solid 2px green; */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* background-color: rgb(186, 147, 222); */
}

.section2 {
  padding-top: 50px;
  /* border: solid 2px green; */
  width: 100%;
  height: 100%;
}
.footer {
  /* border: solid 2px green; */
  width: 100%;
  background-color: #495057;
}

@media only screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
  }
}
